#menuInd {
    text-align: center;
}

#tituloInd {
    text-align: center;
}

#menuAbo {
    text-align: center;
}

#tituloAbo {
    text-align: center;
}

#contentAbo {
    text-align: center;
}

#menuPro {
    text-align: center;
}

#vinylPro {
    display: flex;
    text-align: center;
}