.bodyReg {
    font-family: 'Helvetica', sans-serif;
    background: linear-gradient(to right, rgb(0, 225, 255), rgb(0, 89, 255));
}

.bodyLog {
    font-family: 'Helvetica', sans-serif;
    background: linear-gradient(to right, rgb(0, 255, 13), rgb(0, 255, 85));
}

.bodyInd {
    font-family: 'Helvetica', sans-serif;
    background: linear-gradient(to right, red, blue);
}

.bodyAbout {
    font-family: 'Helvetica', sans-serif;
    background: linear-gradient(to right, white, grey);
}

.bodyStuff {
    font-family: 'Helvetica', sans-serif;
    background: linear-gradient(to right, white, lightblue);
}

.tituloInd {
    -webkit-text-stroke: 1px white;
    text-align: center;
}

.tituloAbo {
    text-align: center;
}

.contentAbo {
    text-align: center;
}

.vinylPro {
    display: flex;
    text-align: center;
}

.register {
    text-align: center;
}

.login {
    text-align: center;
}

.box {
    width: 350px;
    height: 45px;
    padding: 10px;
    border: 2px solid #007bff;
    margin: auto;
    background-color: #f7f7f7;
    box-sizing: border-box;
    text-align: center;
}

.box:hover {
    background-color: #007bff
}